body
{background-color: rgb(173,216,230);
margin:0px;
padding:0px;}
.menu
{display: flex;
position: sticky;
top:0px;
left:1220px;
background-color: rgb(255,255,255);
padding:1px;
border-radius:10px;
border-width:2px;
border-color: blue;
border-style: groove;
width:50px; 
margin:0px;
padding:0px;
z-index:200px;}
.menudb
{position: relative;
top:0px;
left:5px;
cursor: pointer;
padding:1px;
z-index:200px;}
.db
{display:none;
position:absolute;
top:20px;
right:0px;
cursor: pointer;
background-color: rgb(255,255,255);
padding:1px;
min-width:150px;
z-index:200;
border-radius:10px;
border-width:2px;
border-color: blue;
border-style: groove;}
.menudb:hover .db
{display:block;}
.db-1
{padding: 1px;
white-space: nowrap;}
.db-1:hover
{background-color: rgb (255,255,255);}
header
{background-color:rgb (64,224,208);
position: relative;
top:-15px;
left:0px;
background-blend-mode: rgb(173,216,230);
color: rgb(0,0,0);
text-align: center;
margin: 1px;
padding:1px;}
main
{background-color: rgb(255,255,255);
position:relative;
top: -80px;
left:0px;
border-radius: 60px;
border-width:2px;
border-color: blue;
border-style: groove;
height: auto;
width:auto;
margin: 70px;
padding:10px;
z-index:-1;}
.kozep
{text-align: center;
margin: 0px;
padding:0px;
z-index:200px;
color: black;
font-size:15;}
footer
{text-align: center;
margin: 5px;
padding:0px;
z-index:200px;
color: black;}
.foreszek
{text-align: center;
font-size: 12;
line-height:1;}
.reszek
{list-style: none;}
h1
{font-size:16;
text-decoration: underline;}
#top
{text-decoration: none;
font-size:25;
border-radius:10px;
border-color:blue;
border-width:4px;
border-style: double;
border: center;
width:800px;
height:30px;
text-align:center;
margin:8px;
padding:10px;
position: relative;
top:0px;
left:180px;}